.GoodsCardLIst {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f9f9ff;
  // border-radius: 20px;
  position: relative;
  padding: 16px 15px 18px 15px;
  .GoodsCardBOx {
    width: 100%;
    height: 100%;
    position: relative;
    top: -50px;
    transition: all 0.4s;
    //定义动画
    @keyframes turn {
      0% {
        -webkit-transform: rotate(0deg);
      }
      25% {
        -webkit-transform: rotate(90deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
      }
      75% {
        -webkit-transform: rotate(270deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    .refreshBox {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #152035;
      font-size: 16px;
      .icon {
        margin-right: 10px;
        fill: #f67280;
        width: 30px;
        height: 30px;
      }
    }
  }
  .GoodsCard {
    width: 100%;
    height: 100%;
    background-color: #f9f9ff;
    margin-bottom: 18px;
    // overflow: hidden;
    padding: 50px 0 0 0;
    position: relative;
    border-radius: 20px;
    .box {
      height: 100%;
      background-color: white;
      border-radius: 20px;
      -webkit-box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
      box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
      color: #152035;
    }
    .imgBox {
      width: 100%;
      height: 41%;
      padding: 0 30px;
      img {
        display: block;
        width: 100%;
        border-radius: 20px;
        transform: translateY(-30px);
        box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
      }
    }
    .cardLabels {
      color: #6d6d6d;
      font-size: 15px;
      line-height: 15px;
      text-align: right;
      padding-right: 20px;
      span {
        padding: 6px 10px;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        margin-right: 15px;
        display: inline-block;
        font-size: 13px;
      }
    }
    .cardTitle {
      padding-left: 25px;
      font-size: 28px;
      line-height: 46px;
    }
    .cardContent {
      width: 100%;
      padding: 0px 25px 0 25px;
      height: 78px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      letter-spacing: 0.1rem;
      font-size: 15px;
      line-height: 26px;
      color: #506172;
    }
    .cardLikes {
      padding-left: 26px;
      letter-spacing: 0.9rem;
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #f67280;
      position: absolute;
      bottom: 60px;
      font-weight: bold;
      .icon {
        fill: #f67280;
        margin-right: 7px;
      }
    }
    .cardBto {
      width: 100%;
      height: 50px;
      border-top: 1px solid #d4d4d4;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      background: white;
      border-radius: 0 0 20px 20px;
      color: #506172;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
      }
      div:nth-child(1) {
        width: 22%;
        border-radius: 0 3px 3px 0;
        border-right: 1px solid #d4d4d4;
      }
      div:nth-child(2) {
        width: 70%;
        justify-content: flex-end;
        img {
          display: block;
          height: 38px;
          width: 38px;
          border-radius: 50%;
          margin: 0 8px;
        }
        span {
          width: 4px;
          height: 4px;
          background-color: #f67280;
          border-radius: 50%;
          display: block;
          margin: 0 6px;
        }
      }
      .icon {
        margin-right: 4px;
        fill: #3f4d58;
      }
    }
  }
}
