.HomeSearchBar {
  margin: 60px 0 30px 0;
  transform: none;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee;
  .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
  }
  input {
    padding-left: 40px;
    border: none;
    height: 36px;
    display: block;
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: #152035;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    font-size: 16px;
  }
  input:focus {
    box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
    border-radius: 10px;
  }
}
