.myself-dynamic {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 110px 20px 56px 20px;
  background-color: #f9f9ff;
  position: relative;
  z-index: 99;
  .outBox {
    box-sizing: content-box;
    padding-bottom: 30px;
    height: 223px;
  }
  .dynamicItem {
    width: 100%;
    height: 223px;
    padding: 25px 10px 10px 10px;
    border-radius: 20px;
    background-color: white;
    color: white;
    box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1);
    .dynamicItem-top {
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      div {
        border-radius: 5px;
        width: 50%;
        height: 100%;
        overflow: hidden;
        background-color: #261a32;
        img {
          display: block;
          width: 100%;
        }
      }
      p {
        padding-left: 13px;
        width: 50%;
        color: #152035;
        font-size: 18px;
        font-weight: bold;
      }
      p:last-child {
        color: #506172;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .dynamicItem-center {
    display: flex;
    align-items: center;
    border-top: 1px solid #50617242;
    border-bottom: 1px solid #50617242;
    color: #f67280;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
    margin: 11px 0;
    font-weight: 700;
    svg {
      fill: #f67280;
      width: 18px;
      height: 18px;
      margin: 0 6px 0 25px;
    }
  }
  .dynamicItem-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      font-size: 13px;
      color: rgb(56, 56, 56);
      letter-spacing: 2px;
      font-weight: 600;
      padding: 3px 8px;
      border: 1px solid rgb(138, 138, 138);
      margin: 0 10px 0 20px;
      border-radius: 4px;
    }
  }
}
.isDel {
  height: 0;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.4s;
  opacity: 0;
  border-radius: 20px;
  img {
    transition: all 0.4s;
    height: 0;
  }
}
