.myself-idol {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 36px 20px 56px 20px;
  .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    svg {
      fill: white;
      width: 22px;
    }
    p {
      font-size: 20px;
      line-height: 20px;
      margin-left: 30px;
      color: rgb(212, 212, 212);
    }
  }
  .HomeSearchBar {
    position: static;
    transform: none;
    width: 100%;
    height: 36px;
    .box1 {
      width: 100%;
    }
  }
  .idol-item {
    width: 100%;
    margin-top: 20px;
    height: 67px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      display: block;
      height: 46px;
      width: 46px;
      border-radius: 50%;
    }
    .message {
      font-size: 16px;
      line-height: 23px;
      height: 100%;
      color: #152035;
      white-space: pre-line;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      span {
        font-size: 14px;
        color: rgb(117, 117, 117);
      }
    }
    .btn {
      font-size: 13px;
      line-height: 14px;
      padding: 6px 10px;
      color: rgb(117, 117, 117);
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
    }
    .btn2 {
      font-size: 13px;
      line-height: 14px;
      padding: 6px 10px;
      color: rgb(255, 59, 59);
      border-radius: 5px;
      border: 1px solid rgb(255, 59, 59);
    }
    .isMutualfans {
      font-size: 13px;
      line-height: 14px;
      padding: 6px 10px;
      color: rgb(117, 117, 117);
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
    }
  }
  .idol-item-del {
    transition: all 0.3s;
    opacity: 0;
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
  }
}
